.table-body {
    overflow-y: scroll;
    height: 250px !important;
}


.display-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.display-grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    align-items: center;
    padding: 20px 0;
    font-size: 30px;
}

input[type=text].form-item {
    width: 95%;
    box-sizing: border-box;
}